@page "/bookList"
@using Microsoft.EntityFrameworkCore
@using Team2Project.Models
@inject ApplicationDbContext DbContext
@rendermode InteractiveServer
@inject NavigationManager Navigation

<PageTitle>Books List</PageTitle>

<h1>Book List</h1>
<p>These are the available books</p>

@if (books2 == null)
{
  <p>Loading...</p>
}
else if (!books2.Any())
{
  <p>No books found.</p>
}
else
{
  <ul class="book-list">
  @foreach (var book in books2)
    {
      <div class="book-card">
        <div class="book-cover">
          <h2>@book.Name</h2>
          <h3>@book.Author</h3>
          <p>Editorial: @book.Editorial</p>
        </div>
        <div class="book-content">
          <p>Publication Date: @book.PublicationDate</p>
          
            <a class="button-navigate" @onclick="() => NavigateToDetails(book.Id)">
                Navigate to @book.Name
            </a>
       
        </div>
        
      </div>
    }
  </ul>
}

@code {
  private List<Book> books2;
    protected override async Task OnInitializedAsync()
  {

    books2 = await DbContext.Books.ToListAsync();


  }

  private void NavigateToDetails(Guid bookId)
    {
        Navigation.NavigateTo($"/bookdetails/{bookId}");
    }
  



}